.matrixScrollbar__scrollViewport::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.matrixScrollbar__overflowHiddenElement {
  overflow: hidden;
  position: relative;
}

.matrixScrollbar__scrollViewport {
  transform-style: preserve-3d;
  perspective: 1px;
  pointer-events: auto;
  user-select: initial;
  overflow-x: hidden !important;
  display: flex;
  scrollbar-width: none;
}

[dir="rtl"] .matrixScrollbar__scrollViewport {
  perspective-origin: 0 0;
}

[dir="ltr"] .matrixScrollbar__scrollViewport {
  perspective-origin: 100% 0;
}

.matrixScrollbar__scrollViewport-dragging {
  pointer-events: none !important;
  user-select: none !important;
}

[dir="ltr"] .matrixScrollbar__rail {
  right: 0;
}
[dir="rtl"] .matrixScrollbar__rail {
  left: 0;
}
.matrixScrollbar__rail {
  width: 10px;
  background-color: hsla(0, 0%, 78.4%, 0.1);
  position: absolute;
  top: 0;
  z-index: -1;
}
.matrixScrollbar__rail-active {
  background-color: hsla(0, 0%, 78.4%, 0.4);
}
[dir="ltr"] .matrixScrollbar__thumb {
  right: -10px;
}
[dir="rtl"] .matrixScrollbar__thumb {
  left: -10px;
}
.matrixScrollbar__thumb {
  pointer-events: auto;
  position: absolute;
  top: 0;
  width: 7px;
  background-color: #adadad;
  border-radius: 4px;
}

.matrixScrollbar__thumb-railActive {
  width: 10px;
  border-radius: 8px;
}

[dir="rtl"] .matrixScrollbar__thumb {
  transform-origin: top left;
}

[dir="ltr"] .matrixScrollbar__thumb {
  transform-origin: top right;
}
.matrixScrollbar__perspectiveContainer {
  transform-style: preserve-3d;
  position: absolute;
  width: calc(100% - 10px);
}
[dir="rtl"] .matrixScrollbar__perspectiveContainer {
  perspective-origin: 0 0;
}
[dir="ltr"] .matrixScrollbar__perspectiveContainer {
  perspective-origin: 100% 0;
}
.matrixScrollbar__overflowHiddenElement-edgeFix {
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.matrixScrollbar__edgeDiv {
  position: fixed;
  top: 1;
  z-index: 1;
  width: 1px;
  height: 1px;
}
