.sizeOfList {
  height: 300px;
  width: 250px;
}

.styledBox {
  height: auto;
  border: 1px solid #e8e8e8;
  background-color: white;
  display: inline-flex;
  box-shadow: 0 16px 18px -4px rgba(0, 0, 0, 0.1);
}

.customScrollbar__thumb_active {
  background: #995cc9;
}

.reactWindowListItem,
.demo--viewportListItem {
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.demo--viewportListItem:nth-of-type(odd) {
  background-color: #995cc92e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li,
div,
p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serifhtml;

  color: #24292e;
}

.listWrapper {
  margin: 0 30px;
}

.demos--wrapper {
  display: flex;
  height: auto;
  margin-bottom: 40px;
  justify-content: center;
  min-height: 350px;
}
